@page "/prizes/index"
@using System.ComponentModel
@using Architecture.Models
@using AntDesign.TableModels

@inject HttpClient Http
@inject ModalService ModalService

@attribute [ReuseTabsPageTitle("奖项列表")]

<PageTitle>奖项列表</PageTitle>

<h1>奖项列表</h1>

<p>This component demonstrates fetching data from the server.</p>
<Button OnClick="OnNewPrize" Type="primary">添加</Button>

<Table @ref="table"
       TItem="Prize"
       DataSource="@prizes"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="selectedRows"
       OnChange="OnChange">
  <Selection Key="@(context.Id.ToString())" />
    <PropertyColumn Property="c=>c.Id" Sortable />
    <PropertyColumn Property="c=>c.Name" Sortable />
    <ActionColumn>
    <Space>
      <SpaceItem><Button Danger OnClick="()=>Delete(context.Id)">Delete</Button></SpaceItem>
    </Space>
  </ActionColumn>
</Table>


@if (prizes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
@*                <th>Temp. (F)</th>
                <th>Summary</th>
*@            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in prizes)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.Name</td>
                    @*                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
*@                </tr>
            }
        </tbody>
    </table>
}

@code {
    ITable? table;
    private Prize[]? prizes;
    IEnumerable<Prize>? selectedRows;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            prizes = await Http.GetFromJsonAsync<Prize[]>("Prize/List");
            _total = prizes == null ? 0 : prizes.Length;
        }
        catch (Exception exp)
        {
            System.Diagnostics.Debug.WriteLine(exp);
        }
    }

    public async Task OnChange(AntDesign.TableModels.QueryModel<Prize> queryModel)
    {
        //Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }

    private void Delete(int id)
    {
        if(prizes != null)
        {
            prizes = prizes.Where(x => x.Id != id).ToArray();
            _total = prizes.Length;
        }
        else
        {
            _total = 0;
        }
    }

    private ModalRef _modalRef;
    private string value = "blazor";
    private async Task OnNewPrize()
    {

        //var options = new ConfirmOptions()
        //    {
        //        Title = "Component",
        //    };

        //var confirmRef = await ModalService.CreateConfirmAsync<DataTemplate, string, string>(options, value);

        //confirmRef.OnOpen = () =>
        //{
        //    Console.WriteLine("Open Confirm");
        //    return Task.CompletedTask;
        //};

        //confirmRef.OnClose = () =>
        //{
        //    Console.WriteLine("Close Confirm");
        //    return Task.CompletedTask;
        //};

        //confirmRef.OnOk = (result) =>
        //{
        //    Console.WriteLine($"OnOk:{result}");
        //    return Task.CompletedTask;
        //};

        //var templateOptions = new DataTemplate();
        //templateOptions.Username = value;

        var modalConfig = new ModalOptions();
        modalConfig.Title = "Basic Form";
        modalConfig.OnCancel = async (e) =>
        {
            Console.WriteLine("OnCancel");
            await _modalRef.CloseAsync();
        };

        modalConfig.AfterClose = () =>
        {
            Console.WriteLine("AfterClose");
            //value = templateOptions.Username;
            InvokeAsync(StateHasChanged);
            return Task.CompletedTask;
        };

        _modalRef = await ModalService
            .CreateModalAsync<DataTemplate, string, string>
            (modalConfig, value);

        _modalRef.OnOpen = () =>
        {
            Console.WriteLine("ModalRef OnOpen");
            return Task.CompletedTask;
        };

        _modalRef.OnOk = () =>
        {
            Console.WriteLine("ModalRef OnOk");
            return Task.CompletedTask;
        };

        _modalRef.OnCancel = () =>
        {
            Console.WriteLine("ModalRef OnCancel");
            return Task.CompletedTask;
        };

        _modalRef.OnClose = () =>
        {
            Console.WriteLine("ModalRef OnClose");
            return Task.CompletedTask;
        };
    }
}
